---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, publishedDate, updatedDate, heroImage } = Astro.props;
---

<html lang="ja">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose m-auto p-4 text-neutral-600 w-720px max-w-3xl">
					<div class="title mb-4 py-4 px-0 text-center leading-5">
						<h1 class="text-black text-center font-bold text-3xl mb-4">{title}</h1>
						<div class="date mb-4 text-gray-500 text-base">
							<FormattedDate date={publishedDate} />
							{
								updatedDate && (
									<div class="last-updated-on italic py-2 text-sm">
										最終更新日: <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<div class="hero-image w-full">
							{heroImage && <img class="block mx-auto rounded-2xl shadow-2xl" width={720} height={360} src={heroImage} alt="" />}
						</div>
					</div>
					<div class="markdown-body">
						<slot/>
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	.markdown-body h1, h2, h3, h4, h5, h6 {
		@apply leading-7
	}
	.markdown-body h1 {
		@apply text-3xl mb-4 pb-2
	}
	.markdown-body h2 {
		@apply text-2xl mb-4 pb-2
	}
	.markdown-body h3 {
		@apply text-xl mb-2 pb-2
	}
	.markdown-body h4 h5 h6 {
		@apply text-lg
	}
	.markdown-body h1, h2, h3 {
		@apply font-bold
	}
	.markdown-body h1, h2 {
		@apply border-solid border-b-2 border-gray-200
	}
	.markdown-body blockquote {
		@apply border-l-4 border-l-sky-500 m-0 pl-4
	}
	.markdown-body p {
		@apply text-base mb-4 text-neutral-600
	}
	.markdown-body ol {
		@apply list-decimal list-inside my-1 ml-4 text-base mb-4
	}
	.markdown-body ul {
		@apply list-disc list-inside ml-4 my-1 text-base mb-4
	}
	.markdown-body pre {
		@apply mx-0 my-4 p-4 rounded-xl shadow-2xl text-sm
	}
	.markdown-body pre code {
		@apply bg-transparent
	}
	.markdown-body code {
		@apply px-1 py-0.5 bg-slate-200 rounded-sm
	}
	.markdown-body table {
		@apply w-full table-auto
	}
	.markdown-body table thead {
		@apply border-b-2 border-solid
	}
	.markdown-body table th {
		@apply px-4 py-2
	}
	.markdown-body table td {
		@apply px-4 py-2
	}
	.markdown-body img {
		@apply w-full h-auto rounded-xl shadow-2xl
	}
	.markdown-body b, strong {
		@apply font-semibold
	}
	.markdown-body a {
		@apply visited:text-sky-600 text-sky-500 hover:underline hover:text-sky-600
	}
</style>
